
/* Your CSS Code here. */
table {
	text-align: left;
	border: 2px solid black;
	border-collapse: collapse;
}
thead {
	
}
th {
	border: 2px solid black;
}
td {
	border: 2px solid black;
	text-align: right;
}